<%= provide(:title, 'New Spot') %>
<h1 class="page-header">Spots <small>New</small></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@spot) do |f| %>
      <%= render 'shared/error_messages', object: f.object  %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :address1 %>
      <%= f.text_field :address1 %>

      <%= f.label :address2 %>
      <%= f.text_field :address2 %>

      <%= f.label :city %>
      <%= f.text_field :city %>

      <%= f.label :postcode %>
      <%= f.text_field :postcode %>

      <%= f.label :spotType, "Type"%>
      <%= f.select(:spotType, { "Outdoor Park" => "Outdoor Park", "Indoor Park" => "Indoor Park", "Location" => "Location"}) %>

       <%= f.label :description, "Description: Remember to describe any obsticals, the surface and anything else thats important" %>
      <%= f.text_area :description %>

      <%= f.submit "Create a new spot", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>