<% provide(:title, @spot.name) %>
<h1 class="page-header">Spot <small><%= @spot.name %></small><%= render 'shared/like_form' if signed_in? %></h1>
<div class="row">
  <aside class="span3">
  	<section>
  		<address>
  			<strong><%= @spot.name %></strong><br> 
  			<%= @spot.address1 %><br>
  			<% if !@spot.address2.empty? %>
  			<%= @spot.address2 %><br>
  			<% end %>
  			<%= @spot.city %><br>
  			<% if !@spot.postcode.empty? %>
  			<%= @spot.postcode %><br>
  			<% end %>
  		</address>
    </section>
    <div class="thumbnail">
      <% address = getAddress(@spot) %>
      <%= link_to "http://maps.google.co.uk/maps?q=#{address}" do %>
        <img border="0" src="http://maps.googleapis.com/maps/api/staticmap?zoom=17&size=600x600&scale=2&center=<%= address %>&maptype=hybrid&sensor=false" alt="Google Map"/>
      <% end %>
    </div>
  </aside>
  <div class="span9">

    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#about" data-toggle="tab">About</a></li>
      <li><a href="#reviewsPane" data-toggle="tab">Reviews (<%= @spot.reviews.count %>)</a></li>
      <li><a href="#photos" data-toggle="tab">Photos (<%= @spot.photos.count %>)</a></li>
      <li><a href="#edit" data-toggle="tab">Edit</a></li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="about">
        <dl>
          <dt>Type:</dt><dd><%= @spot.spotType %></dd>
          <dt>Description:</dt><dd><%= @spot.description %></dd>
          <dt>Reviews</dt><dd><%= @spot.reviews.count %></dd>
        </dl>
      </div>

      <div class="tab-pane" id="reviewsPane">
        <ol class="reviews" id="reviews">
          <% if @spot.reviews.any?%>
            <%= render @reviews.sort_by(&:score).reverse %>
          <% end %>
        </ol>
        <%= will_paginate @reviews %>
        <% if signed_in? %>
          <div class="row">
            <section>
              <%= render 'shared/review_form' %>
            </section> 
          </div> 
        <% end %>
      </div>

      <div class="tab-pane" id="photos">
        <a data-toggle="modal" href="#addPhoto" class="btn btn-primary btn-medium" id="addPic">Add Photo</a>  
        <section>
          <ul class="thumbnails">
          <%= render @spot.photos %>
          </ul>        
        </section>
      </div>

      <div class="tab-pane" id="edit">
        <%= render 'edit'%>
      </div>

    </div>

  </div><!-- End of span9, Main content -->
</div>
<%= render 'photos/new_photo' %>
<div class="modal hide fade" id="photoFrame">
</div>