<div class="span4">
	<%= link_to user do %>
		<section class="well">
			<h3><%= user.name %></h3><hr>
			<section class="user">
        <div class="thumbnail">
          <%= gravatar_for user %>
          <br/>
        </div>
        <div class="button">
          <% @user = user %> <!--Cheating :B -->
          <%= render 'shared/follow_form' if signed_in? %>
        </div>
      </section>
    	<section>
    		<dl>
    			<dt>City</dt>
    			<dd><%= user.city %></dd>
    			<dt>Style</dt>
    			<dd><%= user.style %></dd>
          <dt>Followers</dt>
          <dd><%= user.followers.count %></dd>
          <dt>Following</dt>
          <dd><%= user.followed_users.count %></dd>
    		</dl>
    	</section>
		</section>
	<% end %>
</div>