<% provide(:title, @user.name) %>
<h1 class="page-header">Users <small><%= @user.name %></small><%= render 'shared/follow_form' if signed_in? %></h1>
<div class="row">
  <aside class="span3">
    <section class>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= @user.email %> 
      <%= @user.city %>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span9">

    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
      <li><a href="#reviews" data-toggle="tab">Reviews (<%= @user.reviews.count %>)</a></li>
      <% if current_user == @user %><li><a href="#edit" data-toggle="tab">Edit</a></li><%end%>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="info">
        <dl>
          <dt>City</dt>
          <dd><%= @user.city %></dd>
          <dt>Style</dt>
          <dd><%= @user.style %></dd>
        </dl>
      </div>

      <div class="tab-pane" id="reviews">
        <% if @user.reviews.any? %>
          <%= will_paginate @user.reviews.paginate(page: params[:page]) %>
          <ol class="reviews">
            <%= render "showreview" %>
          </ol>
          <%= will_paginate @user.reviews.paginate(page: params[:page]) %>
        <% else %>
          <h1><%= @user.name %> hasnt posted any reviews </h1>
        <% end %>
        <% if signed_in? %>
          <div class="row">
            <section>
              <%= render 'shared/review_form' %>
            </section> 
          </div> 
        <% end %>
      </div>
      
      <%if current_user == @user %>
        <div class="tab-pane" id="edit">
          <%= render 'edit'%>
        </div>
      <% end %>

    </div>

  </div>
</div>
