<%= form_for(@review) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="content"><%= f.text_area :content, placeholder: "Compose new review..." %></div>
  <%= f.hidden_field :spot_id %>
  <div class="butt"><%= f.submit "Post", class: "btn btn-primary" %></div>
<% end %>