<%= provide(:title, 'New Picture') %>
<h1 class="page-header">Spots <small>New Picture</small></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @picture, :url => pictures_path do |f| %>
      <%= render 'shared/error_messages', object: f.object  %>

      <%= f.label :picture %>
      <%= f.file_field :picture %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.submit "Add new picture", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>