<%= image_tag @photo.picture.url(:large), :class => "photo"%>		
<div class="caption">
	<h5><%= @photo.title %></h5>
	<p><%= @photo.description %></p>
	<p>By: <%= @photo.user.name %></p>
	<% if @photo.user = current_user || current_user.admin? %>
		<%= link_to "Edit", edit_photo_path(@photo), :class => "btn btn-info" %>
		<%= link_to "Delete", @photo, method: :delete, confirm: "You sure?", class: "btn btn-danger" %>
	<% end %>
</div>