<li class="review">
	<div class="row">
		<aside class="span2 user">
			<div class="userpic">
				<%= gravatar_for review.user %>
			</div>
			<span class="username">
				<%= link_to review.user.name, review.user %>
			</span>
			<span class="timestamp">
	    	<%= time_ago_in_words(review.created_at).capitalize%> ago.
	  	</span>
	  	<span class="del">
	  		<% if current_user?(review.user) || (signed_in? && current_user.admin?) %>
	    		<%= link_to "delete", review, method:  :delete,
	                                     confirm: "You sure?",
	                                     title:   review.content %>
	  		<% end %>
	  	</span>
	  	<span class="score">
		  	Score: <em id="<%= review.id %>score"><%= review.score %></em>
			</span>
		</aside>
		<section class="span6">
			<span class="content"><%= review.content %></span>
		</section>
		<aside class="span2 votes">
			<%= render 'shared/vote_form', :review => review %>
		</aside>
	</div>
</li>
